[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-allauth = "*"
requests = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.dj-rest-auth]
extras = [ "with-social",]
